# permissions for end users to view kuadrants.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kuadrant-viewer-role
rules:
- apiGroups:
  - kuadrant.kuadrant.io
  resources:
  - kuadrants
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - kuadrant.kuadrant.io
  resources:
  - kuadrants/status
  verbs:
  - get
