# If using this you will need to rename the file and remove the .sample suffix and remove this comment

KUADRANT_AWS_ACCESS_KEY_ID=xxx
KUADRANT_AWS_SECRET_ACCESS_KEY=xxx
KUADRANT_AWS_REGION=eu-west-1
