# Install CRDs and RBAC resources from developer-portal-controller
# Only Deployment is created dynamically by the kuadrant-operator reconciler
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Prefix to avoid name conflicts with other ClusterRoles
namePrefix: developer-portal-

resources:
# CRDs
- https://raw.githubusercontent.com/Kuadrant/developer-portal-controller/main/config/crd/bases/devportal.kuadrant.io_apikeys.yaml
- https://raw.githubusercontent.com/Kuadrant/developer-portal-controller/main/config/crd/bases/devportal.kuadrant.io_apiproducts.yaml
# RBAC resources
- https://raw.githubusercontent.com/Kuadrant/developer-portal-controller/main/config/rbac/service_account.yaml
- https://raw.githubusercontent.com/Kuadrant/developer-portal-controller/main/config/rbac/role.yaml
- https://raw.githubusercontent.com/Kuadrant/developer-portal-controller/main/config/rbac/role_binding.yaml
- https://raw.githubusercontent.com/Kuadrant/developer-portal-controller/main/config/rbac/leader_election_role.yaml
- https://raw.githubusercontent.com/Kuadrant/developer-portal-controller/main/config/rbac/leader_election_role_binding.yaml
