---
apiVersion: kuadrant.io/v1
kind: DNSPolicy
metadata:
  name: dnspolicy-sample
spec:
  targetRef:
    name: example-gateway
    group: gateway.networking.k8s.io
    kind: Gateway
  healthCheck:
    protocol: HTTP
  providerRefs:
   - name: "provider-ref"
