apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../dependencies/developer-portal

# Patch ServiceAccount name in bindings to match the prefixed name
patches:
- patch: |-
    - op: replace
      path: /subjects/0/name
      value: developer-portal-controller-manager
  target:
    kind: ClusterRoleBinding
- patch: |-
    - op: replace
      path: /subjects/0/name
      value: developer-portal-controller-manager
  target:
    kind: RoleBinding
