apiVersion: v1
kind: Namespace
metadata:
  labels:
    app: kuadrant
    control-plane: controller-manager
  name: kuadrant-system
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  labels:
    app: kuadrant
  name: ratelimitpolicies.apim.kuadrant.io
spec:
  group: apim.kuadrant.io
  names:
    kind: RateLimitPolicy
    listKind: RateLimitPolicyList
    plural: ratelimitpolicies
    singular: ratelimitpolicy
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: RateLimitPolicy is the Schema for the ratelimitpolicies API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation of an object. Servers should convert recognized schemas to the latest internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this object represents. Servers may infer this from the endpoint the client submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: RateLimitPolicySpec defines the desired state of RateLimitPolicy
            properties:
              limits:
                items:
                  description: RateLimitSpec defines the desired state of RateLimit
                  properties:
                    conditions:
                      items:
                        type: string
                      type: array
                    max_value:
                      type: integer
                    namespace:
                      type: string
                    seconds:
                      type: integer
                    variables:
                      items:
                        type: string
                      type: array
                  required:
                  - conditions
                  - max_value
                  - namespace
                  - seconds
                  - variables
                  type: object
                type: array
              rateLimits:
                description: RateLimits are used for all of the matching rules
                items:
                  properties:
                    actions:
                      items:
                        description: Action_Specifier defines one envoy rate limit action
                        oneOf:
                        - required:
                          - generic_key
                        - required:
                          - metadata
                        - required:
                          - remote_address
                        - required:
                          - request_headers
                        properties:
                          generic_key:
                            properties:
                              descriptor_key:
                                type: string
                              descriptor_value:
                                type: string
                            required:
                            - descriptor_value
                            type: object
                          metadata:
                            properties:
                              default_value:
                                type: string
                              descriptor_key:
                                type: string
                              metadata_key:
                                properties:
                                  key:
                                    type: string
                                  path:
                                    items:
                                      properties:
                                        key:
                                          type: string
                                      required:
                                      - key
                                      type: object
                                    type: array
                                required:
                                - key
                                - path
                                type: object
                              source:
                                description: MetadataSource https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-enum-config-route-v3-ratelimit-action-metadata-source
                                enum:
                                - DYNAMIC
                                - ROUTE_ENTRY
                                type: string
                            required:
                            - descriptor_key
                            - metadata_key
                            type: object
                          remote_address:
                            description: RemoteAddressSpec no need to specify descriptor entry is populated using the trusted address from [x-forwarded-for](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers#config-http-conn-man-headers-x-forwarded-for)
                            type: object
                          request_headers:
                            description: RequestHeadersSpec Rate limit on request headers.
                            properties:
                              descriptor_key:
                                type: string
                              header_name:
                                type: string
                              skip_if_absent:
                                type: boolean
                            required:
                            - descriptor_key
                            - header_name
                            type: object
                        type: object
                      type: array
                    stage:
                      description: 'Definfing phase at which rate limits will be applied. Valid values are: PREAUTH, POSTAUTH, BOTH'
                      enum:
                      - PREAUTH
                      - POSTAUTH
                      - BOTH
                      type: string
                  required:
                  - stage
                  type: object
                type: array
              routes:
                description: route specific staging and actions
                items:
                  properties:
                    name:
                      description: name of the route present in the virutalservice
                      type: string
                    rateLimits:
                      items:
                        properties:
                          actions:
                            items:
                              description: Action_Specifier defines one envoy rate limit action
                              oneOf:
                              - required:
                                - generic_key
                              - required:
                                - metadata
                              - required:
                                - remote_address
                              - required:
                                - request_headers
                              properties:
                                generic_key:
                                  properties:
                                    descriptor_key:
                                      type: string
                                    descriptor_value:
                                      type: string
                                  required:
                                  - descriptor_value
                                  type: object
                                metadata:
                                  properties:
                                    default_value:
                                      type: string
                                    descriptor_key:
                                      type: string
                                    metadata_key:
                                      properties:
                                        key:
                                          type: string
                                        path:
                                          items:
                                            properties:
                                              key:
                                                type: string
                                            required:
                                            - key
                                            type: object
                                          type: array
                                      required:
                                      - key
                                      - path
                                      type: object
                                    source:
                                      description: MetadataSource https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-enum-config-route-v3-ratelimit-action-metadata-source
                                      enum:
                                      - DYNAMIC
                                      - ROUTE_ENTRY
                                      type: string
                                  required:
                                  - descriptor_key
                                  - metadata_key
                                  type: object
                                remote_address:
                                  description: RemoteAddressSpec no need to specify descriptor entry is populated using the trusted address from [x-forwarded-for](https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers#config-http-conn-man-headers-x-forwarded-for)
                                  type: object
                                request_headers:
                                  description: RequestHeadersSpec Rate limit on request headers.
                                  properties:
                                    descriptor_key:
                                      type: string
                                    header_name:
                                      type: string
                                    skip_if_absent:
                                      type: boolean
                                  required:
                                  - descriptor_key
                                  - header_name
                                  type: object
                              type: object
                            type: array
                          stage:
                            description: 'Definfing phase at which rate limits will be applied. Valid values are: PREAUTH, POSTAUTH, BOTH'
                            enum:
                            - PREAUTH
                            - POSTAUTH
                            - BOTH
                            type: string
                        required:
                        - stage
                        type: object
                      type: array
                  required:
                  - name
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - name
                x-kubernetes-list-type: map
            type: object
          status:
            description: RateLimitPolicyStatus defines the observed state of RateLimitPolicy
            properties:
              virtualservices:
                description: VirtualServices represents the current VirtualService objects with reference to this ratelimitpolicy object
                items:
                  properties:
                    gateways:
                      items:
                        properties:
                          name:
                            type: string
                          namespace:
                            type: string
                        required:
                        - name
                        - namespace
                        type: object
                      type: array
                    name:
                      type: string
                  required:
                  - name
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app: kuadrant
  name: kuadrant-controller-manager
  namespace: kuadrant-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    app: kuadrant
  name: kuadrant-leader-election-role
  namespace: kuadrant-system
rules:
- apiGroups:
  - ""
  - coordination.k8s.io
  resources:
  - configmaps
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  labels:
    app: kuadrant
  name: kuadrant-manager-role
rules:
- apiGroups:
  - apim.kuadrant.io
  resources:
  - ratelimitpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apim.kuadrant.io
  resources:
  - ratelimitpolicies/finalizers
  verbs:
  - update
- apiGroups:
  - apim.kuadrant.io
  resources:
  - ratelimitpolicies/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - gateway.networking.k8s.io
  resources:
  - httproutes
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - limitador.kuadrant.io
  resources:
  - ratelimits
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.istio.io
  resources:
  - envoyfilters
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - networking.istio.io
  resources:
  - gateways
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - networking.istio.io
  resources:
  - virtualservices
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - security.istio.io
  resources:
  - authorizationpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    app: kuadrant
  name: kuadrant-leader-election-rolebinding
  namespace: kuadrant-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: kuadrant-leader-election-role
subjects:
- kind: ServiceAccount
  name: kuadrant-controller-manager
  namespace: kuadrant-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app: kuadrant
  name: kuadrant-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kuadrant-manager-role
subjects:
- kind: ServiceAccount
  name: kuadrant-controller-manager
  namespace: kuadrant-system
---
apiVersion: v1
data:
  controller_manager_config.yaml: |
    apiVersion: controller-runtime.sigs.k8s.io/v1alpha1
    kind: ControllerManagerConfig
    health:
      healthProbeBindAddress: :8081
    metrics:
      bindAddress: :8080
    webhook:
      port: 9443
    leaderElection:
      leaderElect: true
      resourceName: e358d637.kuadrant.io
kind: ConfigMap
metadata:
  labels:
    app: kuadrant
  name: kuadrant-manager-config
  namespace: kuadrant-system
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: kuadrant
    control-plane: controller-manager
  name: kuadrant-controller-manager-metrics-service
  namespace: kuadrant-system
spec:
  ports:
  - name: metrics
    port: 8080
    targetPort: metrics
  selector:
    app: kuadrant
    control-plane: controller-manager
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: kuadrant
    control-plane: controller-manager
  name: kuadrant-controller-manager
  namespace: kuadrant-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kuadrant
      control-plane: controller-manager
  template:
    metadata:
      labels:
        app: kuadrant
        control-plane: controller-manager
    spec:
      containers:
      - args:
        - --config=controller_manager_config.yaml
        command:
        - /manager
        image: quay.io/kuadrant/kuadrant-controller:latest
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        name: manager
        ports:
        - containerPort: 8080
          name: metrics
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 100m
            memory: 30Mi
          requests:
            cpu: 100m
            memory: 20Mi
        securityContext:
          allowPrivilegeEscalation: false
        volumeMounts:
        - mountPath: /controller_manager_config.yaml
          name: manager-config
          subPath: controller_manager_config.yaml
      securityContext:
        runAsNonRoot: true
      serviceAccountName: kuadrant-controller-manager
      terminationGracePeriodSeconds: 10
      volumes:
      - configMap:
          name: kuadrant-manager-config
        name: manager-config
