name: Build Images

on:
  workflow_call:
    inputs:
      kuadrantOperatorTag:
        description: Kuadrant Operator tag
        default: latest
        type: string
      kuadrantOperatorVersion:
        description: Kuadrant Operator version
        default: 0.0.0
        type: string
      authorinoOperatorVersion:
        description: Authorino Operator bundle version
        default: latest
        type: string
      limitadorOperatorVersion:
        description: Limitador Operator bundle version
        default: latest
        type: string
      dnsOperatorVersion:
        description: DNS Operator bundle version
        default: latest
        type: string
      wasmShimVersion:
        description: WASM Shim version
        default: latest
        type: string
      replacesVersion:
        description: Kuadrant Operator replaced version
        default: 0.0.0-alpha
        type: string
      channels:
        description: Bundle and catalog channels, comma separated
        default: preview
        type: string
  workflow_dispatch:
    inputs:
      kuadrantOperatorTag:
        description: Kuadrant Operator tag
        default: latest
        type: string
      kuadrantOperatorVersion:
        description: Kuadrant Operator version
        default: 0.0.0
        type: string
      authorinoOperatorVersion:
        description: Authorino Operator bundle version
        default: latest
        type: string
      limitadorOperatorVersion:
        description: Limitador Operator bundle version
        default: latest
        type: string
      dnsOperatorVersion:
        description: DNS Operator bundle version
        default: latest
        type: string
      wasmShimVersion:
        description: WASM Shim version
        default: latest
        type: string
      replacesVersion:
        description: Kuadrant Operator replaced version
        default: 0.0.0-alpha
        type: string
      channels:
        description: Bundle and catalog channels, comma separated
        default: preview
        type: string

env:
  IMG_TAGS: ${{ inputs.kuadrantOperatorTag }}
  VERSION: ${{ inputs.kuadrantOperatorVersion }}
  IMG_REGISTRY_HOST: quay.io
  IMG_REGISTRY_ORG: kuadrant
  MAIN_BRANCH_NAME: main
  OPERATOR_NAME: kuadrant-operator

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to container registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.IMG_REGISTRY_USERNAME }}
          password: ${{ secrets.IMG_REGISTRY_TOKEN }}
          registry: ${{ env.IMG_REGISTRY_HOST }}
      - name: Build and Push Image
        id: build-image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          provenance: false
          tags: |
            ${{ env.IMG_REGISTRY_HOST }}/${{ env.IMG_REGISTRY_ORG }}/${{ env.OPERATOR_NAME }}:${{ env.IMG_TAGS }}
      - name: Print Image URL
        run: echo "Image pushed to ${{ env.IMG_REGISTRY_HOST }}/${{ env.IMG_REGISTRY_ORG }}/${{ env.OPERATOR_NAME }}:${{ env.IMG_TAGS }}"

  build-bundle:
    needs: build
    name: Build Bundle
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.22.x
        uses: actions/setup-go@v4
        with:
          go-version: 1.22.x
        id: go
      - name: Check out code
        uses: actions/checkout@v3
      - name: Run make bundle
        id: make-bundle
        run: |
          make bundle REGISTRY=${{ env.IMG_REGISTRY_HOST }} ORG=${{ env.IMG_REGISTRY_ORG }} \
            VERSION=${{ env.VERSION }} IMAGE_TAG=${{ inputs.kuadrantOperatorTag }} \
            AUTHORINO_OPERATOR_VERSION=${{ inputs.authorinoOperatorVersion }} \
            LIMITADOR_OPERATOR_VERSION=${{ inputs.limitadorOperatorVersion }} \
            DNS_OPERATOR_VERSION=${{ inputs.dnsOperatorVersion }} \
            WASM_SHIM_VERSION=${{ inputs.wasmShimVersion }} \
            REPLACES_VERSION=${{ inputs.replacesVersion }} \
            CHANNELS=${{ inputs.channels }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to container registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.IMG_REGISTRY_USERNAME }}
          password: ${{ secrets.IMG_REGISTRY_TOKEN }}
          registry: ${{ env.IMG_REGISTRY_HOST }}
      - name: Build and Push Bundle Image
        id: build-bundle-image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./bundle.Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          provenance: false
          tags: |
            ${{ env.IMG_REGISTRY_HOST }}/${{ env.IMG_REGISTRY_ORG }}/${{ env.OPERATOR_NAME }}-bundle:${{ env.IMG_TAGS }}
      - name: Print Bundle Image URL
        run: echo "Bundle image pushed to ${{ env.IMG_REGISTRY_HOST }}/${{ env.IMG_REGISTRY_ORG }}/${{ env.OPERATOR_NAME }}-bundle:${{ env.IMG_TAGS }}"

  build-catalog:
    name: Build Catalog
    needs: [build, build-bundle]
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.22.x
        uses: actions/setup-go@v4
        with:
          go-version: 1.22.x
        id: go
      - name: Check out code
        uses: actions/checkout@v3
      - name: Generate Catalog Content
        run: |
          make catalog REGISTRY=${{ env.IMG_REGISTRY_HOST }} ORG=${{ env.IMG_REGISTRY_ORG }} \
            VERSION=${{ env.VERSION }} IMAGE_TAG=${{ inputs.kuadrantOperatorTag }} \
            AUTHORINO_OPERATOR_VERSION=${{ inputs.authorinoOperatorVersion }} \
            LIMITADOR_OPERATOR_VERSION=${{ inputs.limitadorOperatorVersion }} \
            DNS_OPERATOR_VERSION=${{ inputs.dnsOperatorVersion }} \
            WASM_SHIM_VERSION=${{ inputs.wasmShimVersion }} \
            REPLACES_VERSION=${{ inputs.replacesVersion }} \
            CHANNELS=${{ inputs.channels }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to container registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.IMG_REGISTRY_USERNAME }}
          password: ${{ secrets.IMG_REGISTRY_TOKEN }}
          registry: ${{ env.IMG_REGISTRY_HOST }}
      - name: Build and Push Catalog Image
        id: build-catalog-image
        uses: docker/build-push-action@v5
        with:
          context: ./catalog
          file: ./catalog/kuadrant-operator-catalog.Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          provenance: false
          tags: |
            ${{ env.IMG_REGISTRY_HOST }}/${{ env.IMG_REGISTRY_ORG }}/${{ env.OPERATOR_NAME }}-catalog:${{ env.IMG_TAGS }}
      - name: Print Catalog Image URL
        run: echo "Catalog image pushed to ${{ env.IMG_REGISTRY_HOST }}/${{ env.IMG_REGISTRY_ORG }}/${{ env.OPERATOR_NAME }}-catalog:${{ env.IMG_TAGS }}"        