name: Release Operator

on:
  pull_request:
    types:
    - closed
    branches:
      - 'release-v[0-9]+.[0-9]+'
  workflow_dispatch: {}

jobs:
  release-operator:
    if: github.event.pull_request.merged == true
    name: Release operator
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code at git ref
        uses: actions/checkout@v4
        with:
          token: '${{ secrets.KUADRANT_DEV_PAT }}'
      - name: Set environment variables
        id: set_env_variables
        run: |
          bash ./utils/release/load_github_envvar.sh
      - name: Create tag
        id: create_tag
        run: |
          tag_name="${{ env.kuadrantOperatorTag }}"
          git tag $tag_name
          git push origin $tag_name
      - name: Generate release body
        id: generate_release_body
        run: |
          GITHUB_TOKEN=${{ secrets.KUADRANT_WORKFLOWS_PAT }} bash ./utils/release/github-release-changelog.sh
      - name: Create release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ env.kuadrantOperatorTag }}
          tag_name: ${{ env.kuadrantOperatorTag }}
          body: "${{ env.releaseBody }}"
          # TODO: https://github.com/Kuadrant/kuadrant-operator/issues/1229
          # The generate of release notes does not pick up the correct tag to compare.
          # There is an open PR within softprops/action-gh-release that would solve the problem.
          # Till then we cannot use the generate release notes feature.
          # https://github.com/softprops/action-gh-release/pull/372
          generate_release_notes: false
          target_commitish: ${{ env.releaseBranch }}
          prerelease: ${{ env.prerelease }}
          token: '${{ secrets.KUADRANT_DEV_PAT }}'
