name: Test

on:
  push:
    branches: [ 'main', 'master' ]

  pull_request:
    branches: [ 'main', 'master' ]

env:
  TEST_IMG: quay.io/kuadrant/kuadrant-operator:${{ github.sha }}

jobs:
  unit-tests:
    name: Unit Tests
    strategy:
      matrix:
        go-version: [ 1.16.x ]
        platform: [ ubuntu-latest ]
    runs-on: ${{ matrix.platform }}
    defaults:
      run:
        shell: bash
    steps:
      - name: Set up Go ${{ matrix.go-version }}
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
        id: go
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run make test
        run: |
          make test

  integration-tests:
    name: Integration Tests
    runs-on: ubuntu-latest
    env:
      KIND_CLUSTER_NAME: kuadrant-test
    defaults:
      run:
        shell: bash
    steps:
      - name: Set up Go 1.16.x
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.x
        id: go
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run make docker-build
        run: |
          make docker-build IMG=${{ env.TEST_IMG }}
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.2.0
        with:
          version: v0.11.0
          cluster_name: ${{ env.KIND_CLUSTER_NAME }}
          wait: 120s
      - name: Check cluster info
        run: |
          kubectl cluster-info dump
      - name: Run make install
        run: |
          make install
      - name: Run make istio-install
        run: |
          make istio-install
      - name: Load test image
        run: |
          kind load docker-image ${{ env.TEST_IMG }} --name ${{ env.KIND_CLUSTER_NAME }}
      - name: Run make deploy
        run: |
          make deploy
      - name: Wait for deployment
        run: |
          kubectl -n kuadrant-system wait --timeout=300s --for=condition=Available deployments --all
      - name: Run make istio-install-with-patch
        run: |
          make istio-install-with-patch
      # Note: This doesn't run any actual tests yet!
      - name: Run make undeploy
        run: |
          make undeploy

  verify-manifests:
    name: Verify manifests
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.16.x
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.x
        id: go
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run make verify-manifests
        run: |
          make verify-manifests

  verify-bundle:
    name: Verify bundle
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.16.x
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.x
        id: go
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run make verify-bundle
        run: |
          make verify-bundle

  verify-fmt:
    name: Verify fmt
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.16.x
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.x
        id: go
      - name: Check out code
        uses: actions/checkout@v2
      - name: Run make verify-fmt
        run: |
          make verify-fmt
